<div class="container py-2">
    <div class="row">
    <table>
    <tr>
    <td>
        <div class="col-8">
            <div class="card mb-3" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner rounded">
                                <div class="carousel-item active">
                                    <img src="/images/filtro biconico azul.jpeg" class="d-block w-100">
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/filtro biconico rojo 2.jpeg" class="d-block w-100">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title text-center">Filtros de aire cónicos y bicónicos</h3>
                            <p class="card-text text-center">Disponible en varios colores y diametros</p>
                            <a type="button" href="http://localhost:3000/#contacto" class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto">Más info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td rowspan="2">
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <div id="carousel" class="carousel slide">
                    <div class="carousel-inner rounded">
                        <div class="carousel-item active">
                            <img src="/images/adap 1.jpeg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/adap 2.jpeg" class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Adaptadores para Cree Led</h5>
                    <p class="card-text text-center">Disponibles para Bora, Vento, Clio, Voyage, étc.</p>
                    <a type="button" href="http://localhost:3000/#contacto" class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto">Más info</a>
                </div>
            </div>
        </div>
    </td>
    <tr>
    <td>
    <div class="col-8">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/images/perfcol.jpeg" class=" rounded w-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title text-center">Perfumes colgantes</h3>
                            <p class="card-text text-center">Disponible en Aqua, Citrus y Vainilla</p>
                            <a type="button" href="http://localhost:3000/#contacto" class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto">Más info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </td>
        </tr>
    </table>
    </div>
</div>