<div class="row justify-content-around py-2">
  <div class="card col-3 text-center">
    <img src="/images/t10 silicona.jpeg" class="card-img mx-auto d-block py-2">
    <div class="card-body">
      <h5 class="card-title">T10 Silicona</h5>
      <p class="card-text">3 led de cada lado. Dispolible en blanco, rosa, rojo, verde, azul y ámbar.</p>
      <a href="http://localhost:3000/#contacto" class="btn btn-primary">Más info</a>
    </div>
  </div>
  <div class="card col-3 text-center">
    <img src="/images/2p rojo.jpeg" class="card-img mx-auto d-block py-2">
    <div class="card-body">
    <h5 class="card-title">2 Polos rojo</h5>
    <p class="card-text">Led cerámico de dos polos. Ideal para luz de posición/stop.</p>
    <a href="http://localhost:3000/#contacto" class="btn btn-primary">Más info</a>
    </div>
  </div>
  <div class="card col-3 text-center">
    <img src="/images/tub csp canbus.jpeg" class="card-img mx-auto d-block py-2">
    <div class="card-body">
    <h5 class="card-title">Tubular CanBus Chip CSP</h5>
    <p class="card-text">Led tubular con sistema CanBus (elimina falla de luz quemada). Led con Chip CSP, muy buena iluminación.</p>
    <a href="http://localhost:3000/#contacto" class="btn btn-primary">Más info</a>
    </div>
  </div>
</div>
<div class="row justify-content-around py-2">
  <div class="card col-3 text-center">
    <img src="/images/1p2p canbus.jpeg" class="card-img mx-auto d-block py-2">
    <div class="card-body">
      <h5 class="card-title">1-2 polos CanBus</h5>
      <p class="card-text">Led de 1 polo y 2 polos ideal para luces de posición traseras, luz de reversa o stop. Con sistema CanBus (anula la falla de luz quemada)</p>
      <a href="http://localhost:3000/#contacto" class="btn btn-primary">Más info</a>
    </div>
  </div>
  <div class="card col-3 text-center">
    <img src="/images/2p rojo.jpeg" class="card-img mx-auto d-block py-2">
    <div class="card-body">
    <h5 class="card-title">2 Polos rojo</h5>
    <p class="card-text">Led cerámico de dos polos. Ideal para luz de posición/stop.</p>
    <a href="http://localhost:3000/#contacto" class="btn btn-primary">Más info</a>
    </div>
  </div>
  <div class="card col-3 text-center">
    <img src="/images/tub csp canbus.jpeg" class="card-img mx-auto d-block py-2">
    <div class="card-body">
    <h5 class="card-title">Tubular CanBus Chip CSP</h5>
    <p class="card-text">Led tubular con sistema CanBus (elimina falla de luz quemada). Led con Chip CSP, muy buena iluminación.</p>
    <a href="http://localhost:3000/#contacto" class="btn btn-primary">Más info</a>
    </div>
  </div>
</div>